.read_task{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000050;
    z-index: 99;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

    .read_task_wrapper{
        transition: .4s;
        margin-top: 20px;
        max-width: 500px;
        width: 100%;
        min-height: 300px;
        border-radius: 7px;
        padding: 20px;
        position: relative;

        .cancel{
            margin-bottom: 10px;
            text-align: right;

            svg{
                font-size: 30px;
                cursor: pointer;
            }
        }

        .task_info{

            .task_time{
                color: #404040;
            }

            .task_title {
                font-size: 28px;
                font-weight: 600;
            }
        }

    }

}

.read_task.active{
    opacity: 1;
    visibility: visible;

    .read_task_wrapper{
        margin-top: 0;
    }
}